* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header a {
    color: #F9FAF8;
}

.hero-banner {
    background-color: #1F2937;
    color: #F9FAF8;
}

.information-container {
    color: #1F2937;
}

.quote-container {
    background-color: #E5E7EB;
    color: #1F2937;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}