* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    width: 900px;
    padding: 16px 0px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header a {
    text-decoration: none;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
}

.hero-banner {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-banner button {
    background-color: #3882F6;
    border: 0px solid #F9FAF8;
    color: #F9FAF8;
}

.information-container {
    color: #1F2937;
}

.quote-container {
    background-color: #E5E7EB;
    color: #1F2937;
}

.call-to-action-block {
    background-color: #3882F6;
    color: #F9FAF8;
}

.call-to-action-block button {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}