* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    padding: 16px 0px;
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header a {
    text-decoration: none;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
}

.hero-banner-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.hero-banner {
    width: 900px;
    padding: 96px 0px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.hero-banner button {
    margin-top: 16px;
    padding: 4px 24px;
    background-color: #3882F6;
    border: 0px solid #F9FAF8;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
}

.hero-banner img {
    flex: 1;
    border: 1px solid #E5E7EB;
}

.hero-text {
    width: 400px;
    font-size: 18px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
}

.information-container {
    color: #1F2937;
}

.quote-container {
    background-color: #E5E7EB;
    color: #1F2937;
}

.call-to-action-block {
    background-color: #3882F6;
    color: #F9FAF8;
}

.call-to-action-block button {
    margin-top: 16px;
    padding: 4px 24px;
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}